.border{ border: 1px solid #ccc;}
.panel-heading{color: #0e90d2;font-weight: bold;font-size: 18px;margin-bottom: 20px;}
.panel-heading div{line-height: 40px;}
.form-group{ margin:10px auto;height: 30px; text-align: center}
.form-group label,.form-group input{height: 30px;font-size: 15px;}
ul.def_index_ul{ margin:0 0px;}
.def_inde_img{height: 180px;}
.def_inde_img img{  float: left;width: 100%;}
@media (min-width: 992px){  .col-md-offset-2 {  margin-left: 0%;}  .col-md-8 {  width: 100%;  }  }
.location{margin-bottom: 10px}
.location span{color: #0072E3;}
.footer-link{margin-left: 50px;}
.footer-link ul li{float: left ;margin-left: 20px;}
.footer-link ul li a{ color: #fff;}
.footer-link ul li a:hover{ color:#337ab7;}
.def_footer{width: 100%;color: #fff;}
.red{  color: red;}
.line_vertial{width: 1px;background: #fff;min-height: 60px;}
.line_row{width:100%;height:2px; background: #38f;}
.main{background: url(/images/container-bg.jpg)  100% 100%;}
.main h4{color: green;padding: 13px 10px;margin: 0 0;}
.index_form{padding: 10% 10%;}
.nav-justified {  margin-bottom: 5px;    margin-top: 150px;}
.list-group{margin:0px 0px;}
.list-group a { cursor: pointer;}
.index_notice,.index_articles{width:28%;float: left}
.index_news{width:44%;float: left}
.index_notice h4,.index_articles h4,.index_news h4{font-weight: bold; float: left;}
.index_articles h4{color: blue;}
.index_news h4{color: purple;}
.index_news div.list-group ul li a{color: #000;}
.index_login{margin-left: 0px;width: 499px;background: #fff;height: 431px}
.def_inde_img img{ width:100%;float: left;}
.login_con{min-height: 500px;background: #ccc;padding-top: 50px;  }

.panel-footer{  border-top:0px solid #ccc;}
.footer {  clear: both;  padding: 20px 0;  text-align: center;  border-top: 1px solid #edebec;  font-size: 12px;  color: #666;  }
.footer .aboutus {  margin: 10px 0;  }
.footer a {  color: #666;  }
.footer .aboutus a {  margin: 0 10px;  }
.articles_logo,.notices_logo,.news_logo{height: 45px;background: #fff;}
.articles_logo div,.notices_logo div,.news_logo div{height: 45px;overflow: hidden; float: left; }
.notices_logo div{padding-top: 6px; }
.articles_logo div img,.notices_logo div img,.news_logo div img{width: 45px;}
/*help页面*/
.help_company{margin-top: 50px;}
.help_company li{margin-bottom: 10px;}


/*help页面*/

/*管理员页面*/
.admin_search{padding: 40px;    padding: 20px 0 0 20px;}
.admin_search input{ height: 35px;    margin-top: 10px;margin-right: 20px}
.admin_right{float: left;width:85%;    min-height: 600px;}
.admin_right .modal{left:50%}
.add_stu_title ,.add_news_title{    background: #ccc;  padding: 10px;  margin-bottom: 20px}
.Admin_location span,.stu_location span{font-family: "宋体"}
/*学生页面*/
.stu_leftcon{background: url(/images/stu_left.png) no-repeat;float: left;border: 1px solid #ccc;width:15%;min-height: 600px;background-size: 100%;}
.stu_leftcon .panel-heading{padding: 120px 0 0 80px;}
/*news*/

.news_list{padding-left: 50px;width: 80%;}
.news_list ul li{margin-bottom: 10px;}
.news_list ul li span{float: right;}
.news_list ul li a {cursor: pointer;}
/*infos*/

.infos_detail #content_body {
    width: 90%;
    margin: 0 auto;
    padding: 50px 94px 20px 94px;
    border: 1px solid #a4a4a4;
    background: #FFF;
    font-size: 16px;
    color: #4B4B4B;
    line-height: 32px;
    min-height: 600px;
    _min-height: 600px;
}
.infos_detail #content_body h1, #content_body h2 {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
#content_date_source {
    margin: 35px 0 19px 0;
    padding-left: 30px;
}
#content_body p {
    padding: 16px 0;
}
#moeCode, .moe_wcode {
    margin-top: 20px;
    font-family: "微软雅黑";
    text-align: center;
    color: #4B4B4B;
    clear: both;
}
#content_editor {
    margin: 16px 0 0 0;
    padding-right: 30px;
    text-align: right;
}
#myposition, #content_date_source, #content_editor {
    font-family: "宋体";
    font-size: 12px;
    color: #6B6B6B;
    background: #E9E9E9;
}
#moeCode img, .moe_wcode img {
    margin: 0 auto;
    width: 150px;
    height: 150px;
}
#myposition, #content_date_source, #content_editor {
    font-family: "宋体";
    font-size: 12px;
    color: #6B6B6B;
    background: #E9E9E9;
}
.location span,.location a{ font-family: "宋体";}
.container1{width: 100%}